.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

body {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

    margin: 0;
    padding: 0;
    /*font*/
    font-family: 'PT Sans Narrow', 'Myriad Pro', sans-serif;
    font-size: 14px;
    line-height: 18px;

    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    /*background*/
    background-color: #ffffff;
   /* background-image: url("../images/pattern-light.jpg");*/
    background-image: url("../images/barbershop-shop.jpg");
    background-repeat: no-repeat;
    background-position: top center;
}
img
{
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: #ffffff;
    line-height: 20px;
    font-size: 16px
}
.site-navigation a:hover,.site-navigation a:active,
.user-navigation a:hover,.user-navigation a:active
{
    background-color: rgb(36,36,36);
}
.header {
    background-color: #000000;
}

.shop h1 {
    font-size: 30px;
    line-height: 42px;
}

.items-types, .items-column {
    list-style: none;
}

.title {
    font-size: 24px;
    line-height: 30px;
}
.button
{
    border: none;
    color: #ffffff;
    font-size: 13px;
    font-family: inherit;
    line-height: 18px;
    background-color: #000000;
    vertical-align: middle;
    text-align: center;
}
.pagination
{
    list-style: none;
}
.pagination a
{
    color: #ffffff;
    background-color: #000000;
}
.items-column p
{
    background-color: rgb(229,229,229);
}
.pagination a:active,
.pagination a:hover
{
    color: #000000;
    background-color: #ffffff;
}
.main-footer

{
    color: #ffffff;
    background-color: rgb(51,51,51);
    background-image: url("../images/pattern-dark.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}
.footer-contacts a
{
    color: #ffffff;
    text-decoration: underline;
}
.footer-contacts a:hover,
.footer-contacts a:hover
{
    text-decoration: none;
}
.footer-social ul
{
    list-style: none;
}
.footer-social
{
    text-align: center;
}
.footer-copyright
{
    text-align: center;
}
.social-button
{
    color: #ffffff;
}
.footer-copyright .button:hover,
.footer-copyright .button:active
{
    background-color: #ffffff;
    color: #000000;
}
.shop-item-image
{
    background-color: rgb(229,229,229);
    border: 7px solid #ffffff;

}
.shop-item-image img
{
    box-shadow:0 0 5px 5px rgba(102, 102, 102, 0.2);
}
.shop-item-image img:hover,
.shop-item-image img:active
{
    box-shadow:0 0 10px 10px rgba(102, 102, 102, 0.2);
}
.button:hover,.button:active
{
    background-color: #663d15;

}
/*---------------------header---------------------*/
.main-header {
    margin-bottom: 55px;
    min-height: 72px;
    background-color: #000000;
}

.container {

    min-height: 72px;
    width: 940px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.container1
{
    width: 940px;
    margin: 0 auto;
}
.main-navigation-wrapper
{
    padding: 11px;
    display: flex;

}
.logo
{
    padding: 10px;
    padding-right: 5px;
}
.site-navigation, .user-navigation {
    list-style: none;

}
.site-navigation
{
    display: flex;  justify-content: space-between;
    width: 500px;
    padding-right: 150px;

    padding-left: 34px;
}
.user-navigation
{

    display: flex;
}
/*-----------------------------------container-------------------------------*/


/*-----------------------------------footer----------------------------------*/
.main-footer .container1
{
    padding: 60px 0;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    min-height: 194px;


}
.footer-contacts
{
    width: 320px;
    margin: 0;
    min-height: 180px;
    margin-right: 80px;
}
.footer-social
{
    width: 145px;
    min-height: 100px;

}
.footer-copyright
{

    width: 150px;
    margin: 0;
    min-height: 100px;margin-left: auto;
}

